<div class="">

<nav class="navbar navbar-light bg-primary fixed-top">
    <!-- <a class="navbar-brandtext-center ">Menu</a><br> -->
    <a class=" navbar1">Dashboard</a>
    <a class="navbar" class="excelSheet">Excel Sheet Reader</a><br>
   
    <form class="form-inline">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" > -->
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </nav>
  </div>
